.Presentación {
  justify-content: center;
  justify-items: center;
  margin: 10px;
}

.Presentación h1 {
  font-family: "Fredoka", sans-serif;
}

.descripción {
  background-color: rgba(121, 239, 243, 0.445);
  border: 3px solid rgb(50, 133, 136);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font-family: "Baloo 2", sans-serif;
  font-size: 18px;
}

.descripción p {
  margin: 5px;
}

.Contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding: 10px;
}

.Tarjetas {
  background-color: #ffcece; /* color de fondo de la tarjeta */
  padding: 20px;
  border-radius: 1rem;
  justify-items: center;
  width: 370px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.Tarjetas:hover {
  transform: translateY(-5px);
}

#tarjeta1 {
  background-color: #aeffa3;
}

#tarjeta2 {
  background-color: #fdff76;
}

#tarjeta3 {
  background-color: #f48b8b;
}

.Tarjetas img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.Tarjetas h3 {
  margin: 0.5rem 0 0.25rem;
}

.Tarjetas p {
  font-size: 0.9rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.mas-info {
  text-align: center;
  margin: 20px;
}

.Misión-Visión-Valores {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.Misión-Visión-Valores img {
  width: 500px;
  height: auto;
  margin-right: 20px;
}

.Misión-Visión-Valores div {
  margin-left: 20px;
}

.Misión-Visión-Valores h3 {
  margin-bottom: 10px;
}

.Misión-Visión-Valores p {
  margin-bottom: 15px;
}

#Misión {
  background-color: #ffcece;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#Visión {
  background-color: #fdff76;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#Valores {
  background-color: #aeffa3;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .Misión-Visión-Valores {
    flex-direction: column;
  }

  .Misión-Visión-Valores img {
    margin: 0 0 20px 0;
    width: 80%;
  }

  .Misión-Visión-Valores div {
    margin: 0;
  }
}
